{% extends "container.html" %}

{% block content %}
    <div class="page-header">
        <h3 class="float-left">Dashboard</h3>
        <div>This is where i'll put date controls</div>
        <div class="clear"></div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Dashboard</h3>
        </div>
        <div class="panel-body">
        	{% for global_metric in global_metrics %}
                Date : {{ global_metric['date'] }}<br />
                Titles : {{ global_metric['count'] }}<br />
                Turnover : {{ global_metric['price'] }}<br />
                Supplier Cost : {{ global_metric['supplier_cost'] }}<br />
                Royalty Cost : {{ global_metric['royalty_cost'] }}<br /><br /><br />
            {% endfor %}
        </div>
    </div>
{% endblock content %}