{% extends "container.html" %}

{% block content %}
    {% from 'common/dashboard_graph.html' import render_graph %}
    {{ render_graph(date_metrics, view_formatter) }}

    <div class="page-header">
        <h3 class="float-left">Billing</h3>
        <div class="float-right dashboard-datepicker">
            <form action="{{ url_for('billing.client') }}" name="date-form" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-success float-right btn-datepicker" id="date-submit" >
                    <i class="glyphicon glyphicon-ok"></i> Go !
                </button>
                <input type="text" class="datepicker-control" value="{{ date_end }}" data-date-format="yyyy-mm-dd" name="date_end">
                <input type="text" class="datepicker-control" value="{{ date_begin }}" data-date-format="yyyy-mm-dd" name="date_begin">
            </form>
        </div>
        <div class="clear"></div>
    </div>

    <div class="quick-stats-box">
        <div class="metric-box">
            <span>{{ view_formatter('integer', global_metrics['newspaper_sold']) }}</span> newspaper sold
        </div>
        <div class="metric-box green">
            <span>{{ view_formatter('money', global_metrics['turnover']) }}</span> turnover
        </div>
        <div class="metric-box orange">
            <span>{{ view_formatter('money', global_metrics['cost']) }}</span> cost
        </div>
        <div class="metric-box red">
            <span>{{ view_formatter('money', global_metrics['margin']) }}</span> margin
        </div>
    </div>

    <center>
        <div id="chartdiv" style="height: 250px;"></div>
    </center>

    {% for client in billing['client_newspaper'].iteritems() %}
        <h4>{{ client[1]['client_company_name'] }}</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 250px;">Press title</th>
                        <th>Quantity</th>
                        <th>Turnover</th>
                        <th>Supplier Cost</th>
                        <th>Royalty Cost</th>
                    </tr>
                </thead>
                <tbody>
                    {% for press_title in client[1]['data'].iteritems() %}
                        <tr>
                            <td>{{ press_title[1]['press_title_name'] }}</td>
                            <td>{{ view_formatter('integer', press_title[1]['count']) }}</td>
                            <td>{{ view_formatter('money', press_title[1]['price']) }}</td>
                            <td>{{ view_formatter('money', press_title[1]['supplier_cost']) }}</td>
                            <td>{{ view_formatter('money', press_title[1]['royalty_cost']) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock content %}