src/config/config.yml
src/config/config.test.yml
*.swp
*~
*.kdev4
!.gitignore
!.placeholder
.buildpath
.project
.settings
*.pyc
marketplace.komodoproject
.pydevproject
src/public/page_cache/template.html
src/public/page_cache/template_sample.html
src/public/.*
src/public/gen/
venv
venv/.*
src/venv
src/venv/.*
.idea
src/.idea
src/.coverage
src/nosetests.xml
src/coverage.xml