html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
}
.content {
    margin: 10px;
}
.page-header a {
    margin-top: 20px;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
.red {
	color: red;
}