{% extends "container.html" %}

{% block content %}
    <div class="page-header">
        <h3 class="float-left">Edit {{ view|replace('-', ' ') }}</h3>
        <a class="btn btn-warning float-right" href="/{{ view }}">
            <i class='glyphicon glyphicon-chevron-left'></i> Return to {{ view|replace('-', ' ') }} list
        </a>
        <div class="clear"></div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Edition form</h3>
        </div>
        <div class="panel-body">
            {% block form %}{% endblock form %}
        </div>
    </div>
{% endblock content %}