{% extends "container.html" %}

{% block content %}
    <!-- ADD paginator macros -->
    {% from 'common/paginator.html' import render_pagination %}

    <div class="page-header">
        <h3 class="float-left">{{ view|capitalize|replace('-', ' ') }} list</h3>
        <a class="btn btn-success float-right" href="/{{ view }}/add">
            <i class='glyphicon glyphicon-pencil'></i> Create a new {{ view|replace('-', ' ') }}
        </a>
        <div class="clear"></div>
    </div>

    <div class="table-responsive">
        {% if items %}
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for translation in translations %}
                        {% if order_by == keys[loop.index0] %}
                            {% set sort_direction = 'asc' if sort == 'desc' else 'desc' %}
                        {% else %}
                            {% set sort_direction = 'asc' %}
                        {% endif %}
                        <th>
                            <a href="/{{ view }}/page/1/order_by/{{ keys[loop.index0] }}/sort/{{ sort_direction }}">
                                {{ translation }} <b class="caret"></b>
                            </a>
                        </th>
                    {% endfor %}
                    <th class="center action-column">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        {% for key in keys %}
                            <th>{{ item[key] }}</th>
                        {% endfor %}
                        <td class="center">
                            <a class="btn btn-xs btn-info" href="/{{ view }}/{{ item['id'] }}">
                                <i class='glyphicon glyphicon-eye-open'></i> View
                            </a>
                            &nbsp;
                            <a class="btn btn-xs btn-primary" href="/{{ view }}/edit/{{ item['id'] }}">
                                <i class='glyphicon glyphicon-edit'></i> Edit
                            </a>
                            &nbsp;
                            <a class="btn btn-xs btn-danger" href="/{{ view }}/delete/{{ item['id'] }}">
                                <i class='glyphicon glyphicon-trash'></i> Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ render_pagination(pagination) }}
        {% else %}
            <div class="alert alert-danger">
                <strong>Sorry !</strong> No result was found.
            </div>
        {% endif %}
    </div>
{% endblock content %}