{% extends "container.html" %}

{% block content %}
    <div class="page-header">
        <h3 class="float-left">{{ view|capitalize|replace('-', ' ') }} List</h3>
        <a class="btn btn-danger float-right" href="/{{ view }}/add">Create a new {{ view|replace('-', ' ') }}</a>
        <div class="clear"></div>
    </div>

    <div class="table-responsive">
        {% if items %}
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for translation in translations %}
                        {% if order_by == keys[loop.index0] %}
                            {% set sort_direction = 'asc' if sort == 'desc' else 'desc' %}
                        {% else %}
                            {% set sort_direction = 'asc' %}
                        {% endif %}
                        <th>
                            <a href="/{{ view }}/page/{{ page }}/order_by/{{ keys[loop.index0] }}/sort/{{ sort_direction }}">
                                {{ translation }} <b class="caret"></b>
                            </a>
                        </th>
                    {% endfor %}
                    <th class="center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        {% for key in keys %}
                            <th>{{ item[key] }}</th>
                        {% endfor %}
                        <td class="center">
                            <a class="btn btn-xs btn-info" href="/{{ view }}/{{ item['id'] }}">Details</a>
                            <a class="btn btn-xs btn-primary" href="/{{ view }}/edit/{{ item['id'] }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
            <ul class="pagination pagination-lg">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">{{ page }}</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </center>
        {% else %}
            <div class="alert alert-danger">
                <strong>Sorry !</strong> No result was found.
            </div>
        {% endif %}
    </div>
{% endblock content %}