{% extends "container.html" %}

{% block content %}
    <div class="page-header">
        <h3 class="float-left">{{ view|capitalize|replace('-', ' ') }} List</h3>
        <a class="btn btn-danger float-right" href="/{{ view }}/add">Create a new {{ view|replace('-', ' ') }}</a>
        <div class="clear"></div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for translation in translations %}
                        <th>{{ translation }}</th>
                    {% endfor %}
                    <th class="center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        {% for key in keys %}
                            <th>{{ item[key] }}</th>
                        {% endfor %}
                        <td class="center">
                            <a class="btn btn-xs btn-info" href="/{{ view }}/{{ item['id'] }}">Details</a>
                            <a class="btn btn-xs btn-primary" href="/{{ view }}/edit/{{ item['id'] }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}